RewriteEngine On

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://note.mafkr.com/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /privnote/open.php?id=$1 [L]
RewriteRule ^(.*)$ /open.php?id=$1 [L]
